.navBar {
    display: flex;
    align-content: space-between;
    padding-left: 40%;
    list-style: none;
    font-size: larger;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  a {
    color: rgb(138, 137, 137);
  }
  a:hover {
    background-color: #e50914;
    color: white;
   
  }
  .btn {
    background-color: red;
  }